.foto {
    width: 20%
}

body {
    background-color: rgb(28, 191, 137);
    display: flex;
    justify-content: space-evenly;

}

div{
    margin: 18px;
    padding: 18px;
}
a{
    color: white;
    border: white 5px;
}

.links{
    display: flex;
    flex-direction: column;
}